Source: eradio
Section: sound
Priority: extra
Maintainer: George Sofianos <georgesofianosgr@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               valac-0.24 | valac (>= 0.24),
               libgstreamer1.0-dev,
               libgtk-3-dev,
               libgranite-dev,
               libsqlite3-dev,
               libgee-dev,
               libnotify-dev,
               libjson-glib-dev,
               libsoup2.4-dev,
               libxml2-dev,
               libsqlheavy-dev
Standards-Version: 3.9.3

Package: eradio
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, gstreamer0.10-ffmpeg, gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-bad
Description: A minimalist radio player
 eRadio (e stands for Elementary) is a radio player designed for Elementary OS. Created with Granite Framework and Vala language.
 .
 Features:
  - Support many stream types ( based on gstreamer plugins )
  - Supoort for m3u, pls and asx.
  - Import/Export Radio Stations with eRadio Packages (.erpkg)
  - Sound Indicator Integration
  - Media Keys Support
  - Notifications when window is not visible
