Source: eradio
Section: sound
Priority: extra
Maintainer: George Sofianos <georgesofianosgr@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               valac-0.24 | valac (>= 0.24),
               libgstreamer1.0-dev,
               libgtk-3-dev,
               libgranite-dev,
               libsqlite3-dev,
               libgee-0.8-dev,
               libnotify-dev,
               libjson-glib-dev,
               libsoup2.4-dev,
               libxml2-dev,
               libsqlheavy-dev
Standards-Version: 3.9.3

Package: eradio
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, gstreamer1.0-plugins-good, gstreamer1.0-plugins-ugly, gstreamer1.0-plugins-bad
Description: A minimalist and powerful radio player
 eRadio is a radio player designed for elementary OS.
 .
 Features:
  - Supports many stream types ( based on gstreamer plugins )
  - Supports decoding of m3u, pls and asx.
  - Import/Export radio stations with eRadio packages (.erpkg)
  - Sound indicator integration.
  - Media keys support.
  - Notifications when window is not visible.
  - Supports WebRadio URI Scheme to easily add stations from web pages.
