[Desktop Entry]
Name=eRadio
GenericName=Radio Player
Comment=Stream online radio stations
Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
Exec=eradio %U
Icon=eRadio
Terminal=false
Type=Application
Version=2.0.1
X-GNOME-Gettext-Domain=eradio
X-GNOME-Keywords=Eradio;Stream;Radio;Music;Audio
X-GNOME-UsesNotifications=true
X-AppInstall-Keywords=Eradio;Stream;Radio;Music;Audio
MimeType=x-scheme-handler/webradio;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=eradio --about
Name=About eRadio
