[Desktop Entry]
Name=eRadio
GenericName=Radio Player
Comment=Stream online radio stations
Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
Exec=eradio
Icon=eradio
Terminal=false
Type=Application
Version=1.1
X-GNOME-Gettext-Domain=eradio
X-GNOME-Keywords=Eradio;Stream;Radio;Music;Audio
X-AppInstall-Keywords=Eradio;Stream;Radio;Music;Audio